<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask App</h1>
    <p>This is a simple Flask application!</p>

    <form method="POST" action="/submit">
        <input type="text" name="url" placeholder="Enter URL" required>
        <button type="submit">Submit</button>
    </form>
    
    

    {% if prediction_text %}
    <div id="prediction-result" style="margin-top: 20px;">
        <h2>{{ prediction_text }}</h2>
    </div>
{% endif %}


</body>
</html>
